* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #0f1117;
    color: #f5f5f5;
    min-height: 100vh;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

/* Header */

header {
    text-align: center;
    margin-bottom: 35px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#date {
    font-size: 18px;
    color: #a7a7b0;
}

#weekType {
    display: inline-block;
    margin-top: 12px;
    padding: 7px 16px;
    border-radius: 20px;

    background: #7c3aed;
    color: white;

    font-size: 14px;
    font-weight: bold;
}


/* Menu */

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


/* Meal Cards */

.meal-card {
    background: #181b23;

    padding: 25px;

    border-radius: 16px;

    border: 1px solid #292d38;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.meal-card h2 {
    margin-bottom: 15px;

    font-size: 22px;
}

.meal-card p {
    line-height: 1.8;

    color: #c5c7ce;
}


/* Mobile */

@media (max-width: 600px) {

    .container {
        padding: 25px 15px;
    }

    header h1 {
        font-size: 28px;
    }

    .menu {
        grid-template-columns: 1fr;
    }

}